@charset "UTF-8";
.rounded-card {
  border-radius: 20px; /* Puedes ajustar el valor según tus preferencias */
}

.custom-label {
  font-weight: bold; /* Para negrita */
  font-family: "system-ui"; /* Cambia 'Arial' por la fuente que desees utilizar */
}

.title, .poppins-label {
  font-family: "Poppins", sans-serif;
}

.custom-btn {
  background-color: #FABB5C;
  color: white;
}

/* Estilo para cambiar el color al hacer hover sobre el botón */
.custom-btn:hover {
  background-color: #EAA94C; /* Cambiar el color de fondo al hacer hover */
  border-color: #EAA94C; /* Cambiar el color del borde al hacer hover */
  color: white;
}

.image img {
  width: 160px;
  height: 180px;
}

.content h4 {
  margin-top: 0;
}

/* Fuentes personalizadas */
.raleway-font {
  font-family: "Raleway", sans-serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.same-width-btn {
  width: 60%; /* Establece el ancho al 100% */
}

.primary-btn {
  background-color: #1976d2; /* Cambia esto al color primario deseado */
  color: red;
  align-self: center;
}
