.rounded-card {
    border-radius: 10px; /* Puedes ajustar el valor según tus preferencias */
}

.custom-label {
    font-weight: bold; /* Para negrita */
    font-family: 'system-ui'; /* Cambia 'Arial' por la fuente que desees utilizar */
}
  
  
